# Dependencies
node_modules/

# Environment variables
.env

# Logs
*.log
npm-debug.log*

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Temporary files
tmp/
temp/

# Build folders
dist/
build/